In [8]:
import pandas as pd

In [9]:
dadosfin = pd.read_csv("dados_financeiros_condominios.csv")

dadosopr = pd.read_csv("dados_operacionais_condominios.csv")

In [10]:
dadosfin.head()

,ID_Registro,ID_Condominio,Nome_Condominio,Data_Mes_Referencia,Receita_Bruta_Mensal,Receita_Liquida_Mensal,Total_Unidades,Unidades_Inadimplentes,Percentual_Inadimplencia,Total_Despesas_Mensal,Fluxo_de_Caixa_Mensal
0,1,790ebb70-78eb-449f-b958-a71c48b71396,Condomínio Almeida Residence,2000-01,83662.56,67394.84,144,28,19.44,6577.60,60817.24
1,2,2a86bdbf-3db9-4c54-a2fa-83ef78447f4c,Condomínio da Cruz Residence,2000-01,28604.64,23008.08,46,9,19.57,1455.78,21552.30
2,3,681c5d84-eb02-45fb-b0c2-c6c422ffac11,Condomínio Rocha Residence,2000-01,47857.28,41736.00,86,11,12.79,4955.13,36780.87
3,4,e0556c4a-ff94-44c7-b9f5-e1845687d385,Condomínio Gomes Residence,2000-01,135455.16,123642.21,172,15,8.72,18557.33,105084.88
4,5,801ef7f5-2831-47a8-baa0-1bddcc1bf85d,Condomínio Martins Residence,2000-01,135891.50,114683.00,173,27,15.61,7685.60,106997.40

In [11]:
dadosopr.head()

,ID_Registro,ID_Condominio,Tipo_Registro,Descricao,Custo_Estimado,Tipo_Manutencao,ID_Morador,Nome_Morador,Unidade,Data_Criacao,Data_Resolucao,Tempo_Resolucao_Horas
0,1,08b31b18-4821-44d9-a605-e8b8ebe4b0d6,Manutencao,Manutencao preventiva em área comum,9926.94,Preventiva,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6d1d4b5f-affb-4835-bfce-7753e5ca333f,Ocorrencia,Reclamacao Barulho,NaN,NaN,b616db98-9eda-40f8-a287-05e4dbf2752d,Sr. Enzo Aparecida,46.0,2024-12-24 11:43:39,2024-12-25 06:30:21.371848,18.78
2,3,801ef7f5-2831-47a8-baa0-1bddcc1bf85d,Ocorrencia,Pedido Reparo Area Comum,NaN,NaN,4c084059-ca59-4fbb-9124-33fce32008d7,Clara Viana,169.0,2024-04-17 18:38:17,2024-04-20 21:50:30.299915,75.20
3,4,b05059b0-5eb2-4f26-a7f3-a43c8236d4de,Manutencao,Manutencao corretiva em área comum,7617.33,Corretiva,NaN,NaN,NaN,NaN,NaN,NaN
4,5,a69f65dd-1115-45b0-a1b6-56b532848152,Ocorrencia,Aluguel De Salão De Festas,NaN,NaN,5fc6d481-5f2c-4f09-872d-6ec01d9b9453,Cecília Moreira,165.0,2023-01-21 17:12:08,2023-01-21 17:51:58.650004,0.66

In [12]:
dadosfin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID_Registro               15000 non-null  int64
 1   ID_Condominio             15000 non-null  object
 2   Nome_Condominio           15000 non-null  object
 3   Data_Mes_Referencia       15000 non-null  object
 4   Receita_Bruta_Mensal      15000 non-null  float64
 5   Receita_Liquida_Mensal    15000 non-null  float64
 6   Total_Unidades            15000 non-null  int64
 7   Unidades_Inadimplentes    15000 non-null  int64
 8   Percentual_Inadimplencia  15000 non-null  float64
 9   Total_Despesas_Mensal     15000 non-null  float64
 10  Fluxo_de_Caixa_Mensal     15000 non-null  float64
dtypes: float64(5), int64(3), object(3)
memory usage: 1.3+ MB

In [13]:
dadosopr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID_Registro            100 non-null    int64
 1   ID_Condominio          100 non-null    object
 2   Tipo_Registro          100 non-null    object
 3   Descricao              100 non-null    object
 4   Custo_Estimado         40 non-null     float64
 5   Tipo_Manutencao        40 non-null     object
 6   ID_Morador             60 non-null     object
 7   Nome_Morador           60 non-null     object
 8   Unidade                60 non-null     float64
 9   Data_Criacao           60 non-null     object
 10  Data_Resolucao         60 non-null     object
 11  Tempo_Resolucao_Horas  60 non-null     float64
dtypes: float64(3), int64(1), object(8)
memory usage: 9.5+ KB