In [16]:
import pandas as pd

In [17]:
dadosfin = pd.read_csv("dados_financeiros_condominios.csv")

dadosopr = pd.read_csv("dados_operacionais_condominios.csv")

In [18]:
dadosfin.head()

,ID_Registro,ID_Condominio,Nome_Condominio,Data_Mes_Referencia,Receita_Bruta_Mensal,Receita_Liquida_Mensal,Total_Unidades,Unidades_Inadimplentes,Percentual_Inadimplencia,Total_Despesas_Mensal,Fluxo_de_Caixa_Mensal
0,1,502ac7fb-6345-4dbb-9d66-1a38e090ad43,Condomínio Borges Residence,2000-01,59922.45,56397.60,85,5,5.88,8264.36,48133.24
1,2,4b318b08-c374-4caf-b794-97f73f2d302d,Condomínio Machado Residence,2000-01,23883.72,22462.07,84,5,5.95,4592.11,17869.96
2,3,25a3f974-4936-4e14-b233-c91f488a52e7,Condomínio Moreira Residence,2000-01,76090.05,62519.85,157,28,17.83,11521.52,50998.33
3,4,ca70cd5c-98e5-420b-817e-0d9154f63967,Condomínio Fonseca Residence,2000-01,43892.28,35806.86,76,14,18.42,5643.06,30163.80
4,5,7723aa4e-80bd-47f9-9f94-85a58682bcfa,Condomínio Gomes Residence,2000-01,64335.46,52451.84,157,29,18.47,9419.85,43031.99

In [19]:
dadosopr.head()

,ID_Registro,ID_Condominio,Tipo_Registro,ID_Morador,Nome_Morador,Unidade,Descricao,Data_Criacao,Data_Resolucao,Tempo_Resolucao_Horas,Custo_Estimado,Tipo_Manutencao
0,1,83428d4e-6dc2-4efc-b4d7-143589f87946,Ocorrencia,bd8e1593-8935-47f5-b003-74507d2f05b2,Luna Sousa,155.0,Aluguel De Churrasqueira,2023-03-31 11:48:29,2023-03-31 16:23:41.742147,4.59,NaN,NaN
1,2,da70bd4a-50ac-486b-84b1-5e9b6e3f4c39,Ocorrencia,d4508d96-e31c-4166-92e0-9053a99409ce,Dra. Mirella Cavalcante,42.0,Sugestao Melhoria,2025-06-11 15:58:58,2025-06-13 02:44:22.513127,34.76,NaN,NaN
2,3,502ac7fb-6345-4dbb-9d66-1a38e090ad43,Manutencao,NaN,NaN,NaN,Manutencao preventiva em área comum,NaN,NaN,NaN,3850.69,Preventiva
3,4,a2087ae3-59ff-4a62-83fd-0d8cdab8b131,Manutencao,NaN,NaN,NaN,Manutencao preventiva em área comum,NaN,NaN,NaN,5020.67,Preventiva
4,5,f0b62a3b-49ea-4fd6-882b-150134824b98,Manutencao,NaN,NaN,NaN,Manutencao preventiva em área comum,NaN,NaN,NaN,2512.68,Preventiva

In [20]:
dadosfin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3600 entries, 0 to 3599
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID_Registro               3600 non-null   int64
 1   ID_Condominio             3600 non-null   object
 2   Nome_Condominio           3600 non-null   object
 3   Data_Mes_Referencia       3600 non-null   object
 4   Receita_Bruta_Mensal      3600 non-null   float64
 5   Receita_Liquida_Mensal    3600 non-null   float64
 6   Total_Unidades            3600 non-null   int64
 7   Unidades_Inadimplentes    3600 non-null   int64
 8   Percentual_Inadimplencia  3600 non-null   float64
 9   Total_Despesas_Mensal     3600 non-null   float64
 10  Fluxo_de_Caixa_Mensal     3600 non-null   float64
dtypes: float64(5), int64(3), object(3)
memory usage: 309.5+ KB

In [21]:
dadosopr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID_Registro            20000 non-null  int64
 1   ID_Condominio          20000 non-null  object
 2   Tipo_Registro          20000 non-null  object
 3   ID_Morador             9993 non-null   object
 4   Nome_Morador           9993 non-null   object
 5   Unidade                9993 non-null   float64
 6   Descricao              20000 non-null  object
 7   Data_Criacao           9993 non-null   object
 8   Data_Resolucao         9993 non-null   object
 9   Tempo_Resolucao_Horas  9993 non-null   float64
 10  Custo_Estimado         10007 non-null  float64
 11  Tipo_Manutencao        10007 non-null  object
dtypes: float64(3), int64(1), object(8)
memory usage: 1.8+ MB

In [22]:

# Obter os IDs de condomínio únicos de cada DataFrame
ids_financeiros = set(dadosfin['ID_Condominio'].unique())
ids_operacionais = set(dadosopr['ID_Condominio'].unique())

In [23]:

# Comparar os dois conjuntos de IDs
sao_iguais = ids_financeiros == ids_operacionais

# Exibir os resultados
print(f"Número de IDs únicos no dataset financeiro: {len(ids_financeiros)}")
print(f"Número de IDs únicos no dataset operacional: {len(ids_operacionais)}")
print(f"\nOs IDs de condomínio são os mesmos nos dois datasets? {sao_iguais}")

if not sao_iguais:
    print("\nOs seguintes IDs estão no dataset financeiro, mas não no operacional:")
    print(ids_financeiros - ids_operacionais)
    
    print("\nOs seguintes IDs estão no dataset operacional, mas não no financeiro:")
    print(ids_operacionais - ids_financeiros)

Número de IDs únicos no dataset financeiro: 50
Número de IDs únicos no dataset operacional: 50

Os IDs de condomínio são os mesmos nos dois datasets? True